<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Reconferência de Mercadorias
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <p style="color:#000000; font-size: 18px">
    <strong>Nº da nota:       </strong> {{invoice.number}}  <br>
    <strong>Data de Entrada:  </strong> {{invoice.date}}    <br>
    <strong>Empresa:          </strong> {{invoice.nick}}    <br>
  </p>
  <div *ngIf="items.length > 0">
    <div class="show-list-numbers-and-dots" >
        <strong style="font-size: 18px"></strong>
        <p style="color:#000000;">
          <strong>Itens não pesáveis</strong>
        </p>
    </div>
    <ion-list class="list-custom">
      <ion-item color="none" *ngFor="let item of items" on-click="goToRecount(item.id)">
        <strong style="font-size: 18px">{{item.code}}</strong>
        <p style="font-size: 18px">{{item.description}}</p>
        <ion-icon name="arrow-round-forward" item-right></ion-icon>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width:300px;height:10px;"></div>
  </div>
  <div *ngIf="weights.length > 0">
    <div class="show-list-numbers-and-dots">
        <strong style="font-size: 18px"></strong>
        <p style="color:#000000;">
          <strong>Itens pesáveis</strong>
        </p>
    </div>
    <ion-list class="list-custom">
      <ion-item color="none" *ngFor="let item of weights" on-click="goToWeightRecount(item.id)">
        <strong style="font-size: 18px">{{item.code}}</strong>
        <p style="font-size: 18px">{{item.description}}</p>
        <ion-icon name="arrow-round-forward" item-right></ion-icon>
      </ion-item>
    </ion-list>
  </div>
  <ion-grid>
    <ion-row>
      <ion-col>
        <button ion-button color="stable" block large icon-left on-click="return()">
          <ion-icon name="arrow-dropleft"></ion-icon>
          <p> Voltar </p>
        </button>
      </ion-col>
      <ion-col>
        <button ion-button color="assertive" block large icon-right on-click="refresh()">
          <p> Atualizar </p>
          <ion-icon name="arrow-dropright"></ion-icon>
        </button>
      </ion-col>
    </ion-row>
  </ion-grid>    
</ion-content>
